.container {
  margin-top: 2rem;
  min-width: 945px;
  width: 945px;

}

.weekday-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  /*align-items: end;*/
}

.weekday-cell{
  height: 30px;
  width: 135px;
  min-width: 135px;
  text-align: center;
  /*Occupy all space */
  /*flex-grow: 1;*/
}

.time-cell {
  height: 30px;
  width: 135px;
  text-align: center;
  /*border: 1px solid gainsboro;*/

}

.event-cell {
  height: 30px;
  text-align: center;
  border: 1px solid gainsboro;
  flex-grow: 1;
}


/*.event-cell:hover {*/
/*  background-color: lightblue;*/
/*}*/

/* Rename to better name*/
.actual-event {
  font-size: smaller;
  padding-left: 1rem;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
  border-radius: 5px;
  position: absolute;
  z-index: 1;

  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.actual-event:hover{
  /*background-color: rgb(0, 196, 196);*/
  box-shadow: 0 5px 15px rgb(0 0 0 / 0.3);
}
