<mat-toolbar *ngIf="isAuth">
   <span>Your AI calendar</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon"
          title="User details"
          aria-label="Example icon-button with share icon">
    <mat-icon>person</mat-icon>
  </button>
  <button title="Logout" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<div class="container" >
  <router-outlet></router-outlet>
</div>

